@page "/login"

@using TodoList.Models;
@using TodoListBlazorWasm.Services;
@inject NavigationManager NavigationManager;
@inject IAuthService AuthService;

@if (ShowErrors)
{
    <div class="alert alert-danger">
        <p>@Error</p>
    </div>
}
<div class="page-body-center">
    <div class="cardLogin">
        <div class="card-body p-5">

            @* anh & tieu de *@
            <div class="user-picture">
                <img src="/user.png" class="img-fluid w-25 h-25" alt="User Logo" />
            </div>

            <h3 class="card-title login-title">MEMBER LOGIN</h3>

            <EditForm Model="LoginModel" OnValidSubmit="HandleLogin">
                <DataAnnotationsValidator></DataAnnotationsValidator>

                @* phan username *@
                <div class="input-login">
                    <div class="input-username">
                        <i class="ri-user-3-fill mt-2"></i>
                        <InputText id="username" class="form-control w-50" placeholder="Username" @bind-Value="LoginModel.UserName"></InputText>
                    </div>
                    <div class="valid-message">
                        <ValidationMessage For="()=> LoginModel.UserName"></ValidationMessage>
                    </div>
                </div>

                @* phan password *@
                <div class="input-login">
                    <div class="input-password">
                        <i class="ri-lock-fill mt-2"></i>
                        <InputText id="password" type="password" class="form-control w-50" placeholder="Password" @bind-Value="LoginModel.Password"></InputText>
                    </div>
                    <div class="valid-message">
                        <ValidationMessage For="()=> LoginModel.Password"></ValidationMessage>
                    </div>
                </div>

                @* phan remember me & forgot password *@
                <div class="more-info">
                    <div class="remember-me">
                        <input class="form-check-input m-1" type="checkbox" value="" id="rememberMe" />
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                    </div>
                    <div class="forgot-password">
                        <p><a class="link-opacity-50-hoveratio" href="#">Forgot password</a></p>
                    </div>
                </div>

                @* nut login *@
                <div class="align-center-button">
                    <button type="submit" class="btn login-btn">Login</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>


@code {
    private LoginRequest LoginModel = new LoginRequest();
    private bool ShowErrors;
    private string Error = "";

    private async Task HandleLogin()
    {
        ShowErrors = false;

        var result = await AuthService.Login(LoginModel);
        if (result.Successful)
        {
            NavigationManager.NavigateTo("/TaskList");
        }
        else
        {
            ShowErrors = true;
            Error = result.Error;
        }
    }
}
