@using TodoList.Models
@using TodoListBlazorWasm.Services
@inject IToastService toastService
@inject IPatientApiClient PatientApiClient

<div class="modal-overlay @(ShowDialog ? "show" : "")"></div>

<div class="modal fade @(ShowDialog ? "show d-block" : "fade")" id="dentisModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <EditForm Model="patientModel" OnValidSubmit="HandleAddPatient">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modaltitle">Thêm bệnh nhân</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" @onclick="()=>Hide()" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="Name">Họ và tên:</label>
                            <InputText id="Name" class="form-control" @bind-Value="patientModel.Name"></InputText>
                        </div>
                        <div class="col-sm-4">
                            <label for="PhoneNumber">Số điện thoại:</label>
                            <InputText id="PhoneNumber" class="form-control" @bind-Value="patientModel.PhoneNumber"></InputText>
                        </div>
                        <div class="col-sm-4">
                            <label for="Gender">Giới tính:</label>
                            <InputText id="Gender" class="form-control" @bind-Value="patientModel.Gender"></InputText>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="DateOfBirth">Ngày sinh:</label>
                            <InputDate TValue="DateTime" id="DateOfBirth" class="form-control" @bind-Value="@dateOfBirth"></InputDate>
                        </div>
                        <div class="col-sm-8">
                            <label for="Job">Nghề nghiệp:</label>
                            <InputText id="Job" class="form-control" @bind-Value="patientModel.Job"></InputText>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <label for="Address">Địa chỉ:</label>
                            <InputText id="Address" class="form-control" @bind-Value="patientModel.Address"></InputText>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" @onclick="()=>Hide()" data-bs-dismiss="modal">
                        <i class="ri-close-line"></i>
                        Đóng
                    </button>
                    <button class="btn btn-success" type="submit">
                        <i class="ri-save-3-line"></i>
                        Lưu
                    </button>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    protected bool ShowDialog { get; set; }
    private PatientRequest patientModel = new PatientRequest();

    private DateTime dateOfBirth = DateTime.Now.AddDays(0);

    [Parameter]
    public EventCallback<PatientRequest> OnPatientAdded { get; set; }

    private async Task HandleAddPatient(EditContext context)
    {
        patientModel.DateOfBirth = dateOfBirth;
        var result = await PatientApiClient.CreatePatient(patientModel);
        if (result)
        {
            toastService.ShowSuccess($"{patientModel.Name} được thêm thành công");
            await OnPatientAdded.InvokeAsync(patientModel); //Lập tức thêm bệnh nhân vào bảng
        }
        else
        {
            toastService.ShowError("Có lỗi xảy ra. Vui lòng liên hệ admin");
        }
        PatientApiClient.GetPatientList();
        Hide();
    }
    public void Show()
    {
        ShowDialog = true;
        StateHasChanged();
    }
    private void Hide()
    {
        ShowDialog = false;
        StateHasChanged();
    }
}
