@page "/UserList"


<div>
    <table class="table">
        <thead>
            <tr>
                <th>Họ tên</th>
                <th>Tên người dùng</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody class="table-body">

        </tbody>
    </table>
</div>

@code {
}
